<ion-view title="Home">
  <ion-content has-header="true">
    <div class="row">
      <div class="col col-75">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="재료 검색">
          </label>
        </div>
      </div>
      <div class="col col-25">
        <button class="button icon ion-camera"></button>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
	      <ul class="list list-inset">
	      	<ion-list>
	      		<ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="button" ng-click="addItem(item)" ng-model="itemId">
	      			Item {{ item.id }}
	      		</ion-item>
	      	</ion-list>

	      	</ion-list>
	      </ul>
    	</div>
    
	    <div class="col">
	      <ul class="list list-inset">
	      	<ion-list show-delete="data.showDelete">
						<ion-item ng-repeat="sitem in sitems" 
                  item="sitem"
                  href="#/sitem/{{sitem.id}}" class="item-remove-animate">
          		Item {{ sitem.id }}
          		<ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(sitem)">
          		</ion-delete-button>
        		</ion-item>
        	</ion-list>
	      </ul>
	    </div>
  	</div>
  </ion-content>
  <ion-footer-bar class="bar-energized">
    <div class="title">
      <a class="button button-full button-clear button-dark" nav-transition="none" href="#/list">Search</a>
    </div>
  </ion-footer-bar>
</ion-view>