<ion-view title="Home">
  <ion-content has-header="true">
    <div class="row">
      <div class="col col-75">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="재료 검색">
          </label>
        </div>
      </div>
      <div class="col col-25">
        <button class="button icon ion-camera"></button>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
	      <ul class="list list-inset">
	        <li class="item">가지</li>
	        <li class="item">감자</li>
	        <li class="item">고구마</li>
	        <li class="item">돼지목살</li>
	        <li class="item">밀가루</li>
	        <li class="item">바나나</li>
	        <li class="item">바질</li>
	        <li class="item">삼겹살</li>
	        <li class="item">소세지</li>
	        <li class="item">숙주나물</li>
	        <li class="item">연어</li>
	        <li class="item">오리고기</li>
	        <li class="item">콩나물</li>
	        <li class="item">토마토</li>
	        <li class="item">파</li>
	        <li class="item">호두</li>
	        <li class="item">호박</li>
	      </ul>
    	</div>
    
	    <div class="col">
	      <ul class="list list-inset">
	      	<ion-list show-delete="data.showDelete">
						<ion-item ng-repeat="item in items" 
                  item="item"
                  href="#/item/{{item.id}}" class="item-remove-animate">
          		Item {{ item.id }}
          		<ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          		</ion-delete-button>
        		</ion-item>
        	</ion-list>
	      </ul>
	    </div>
  	</div>
  </ion-content>
</ion-view>