<ion-view title="List">
  <ion-nav-bar class="bar-subheader">
    <ion-nav-back-button class="button-icon ion-ios7-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-header has-subheader">
    <div class="list card">
      <div class="item item-avatar item-icon-right">
        <h2>{{recipe.name}}</h2>
        <p>like: {{recipe.like}}</p>
        <a ng-click="sendLike(recipe.id)"><i class="icon ion-ios-heart-outline"></i></a>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{recipe.img}}">
        <p>재료: {{recipe.main_ingredient}}</p>
        <p>     {{recipe.main_amount}}</p>
        <p>양념: {{recipe.season_ingredient}}</p>
        <p>     {{recipe.season_amout}}</p>
        <p>인분: {{recipe.amount}}</p>
        <p>{{recipe.order_list}}</p>
        </p>
      </div>
    <!-- <div class="bar bar-subheader">
      <label class="item item-input item-select">
        <div class="input-label">
          필요한 재료 개수
        </div>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option selected>4</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          요리 방법
        </div>
        <select>
          <option selected>All</option>
          <option>밥/죽/스프</option>
          <option>만두/면류</option>
          <option>국물요리</option>
          <option>반찬</option>
          <option>떡/빵/과자</option>
          <option>기타</option>
        </select>
      </label>
    </div> -->

  </ion-content>
      
      <!-- <ion-content>
      <div class="row">
      <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/13.jpg">
          <h2>계란말이주먹밥</h2>
          <p>밥류</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/12.jpg">
          <h2>스크램블드에그</h2>
          <p>양식</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/14.png">
          <h2>계란죽</h2>
          <p>밥류</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/15.jpg">
          <h2>홍차계란장조림</h2>
          <p>반찬</p>
        </a>
      </div>
      </div>
      </ion-content> -->

</ion-view>