<ion-view title="Reports">

    <!-- <ion-nav-bar class="bar-subheader">
      <ion-nav-back-button class="button-icon ion-ios7-arrow-back"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content has-header="true" padding="true">

      <div class="list card">
        <div class="item item-avatar">
          <img src=""/>
        </div>
      </div> -->

        <!-- <div class="list card">
            <div class="item item-avatar">
                <img src="pics/{{employee.pic }}"/>
                <h2>{{employee.firstName}} {{employee.lastName}}</h2>
                <p>{{employee.title}}</p>
            </div>
            <a ng-repeat="report in employee.reports" class="item item-avatar item-icon-left" href="#/employees/{{report.id}}">
                <img src="pics/{{report.pic }}"/>
                {{report.firstName}} {{report.lastName}}
                <p>{{report.title}}</p>
            </a>
        </div> -->
<ion-content has-header="true">
  <form id="fileform" action="">
    <select name="type">
      <option value="LANDMARK_DETECTION">LANDMARK_DETECTION</option>
      <option value="TYPE_UNSPECIFIED">TYPE_UNSPECIFIED</option>
      <option value="FACE_DETECTION">FACE_DETECTION</option>
      <option value="LOGO_DETECTION">LOGO_DETECTION</option>
      <option value="LABEL_DETECTION">LABEL_DETECTION</option>
      <option value="TEXT_DETECTION">TEXT_DETECTION</option>
      <option value="SAFE_SEARCH_DETECTION">SAFE_SEARCH_DETECTION</option>
      <option value="IMAGE_PROPERTIES">IMAGE_PROPERTIES</option>
    </select><br />
    <input type="file" name="fileField"><br /><br />
    <input type="submit" name="submit" value="Submit">
  </form>

  <code style="white-space:pre" id="results"></code>
  <p>{{results.responses.labelAnnotaions.desciption}}</p>

</ion-content>

</ion-view>