<ion-view title="Search">

  <ion-nav-bar class="bar-subheader">
    <ion-nav-back-button class="button-icon ion-ios7-arrow-back"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-subheader">
    <div>
      <label class="item item-input item-select">
        <div class="input-label">
          레시피 정렬 순서
        </div>
        <select id="sortFilter" type="setFilter" ng-model="sortFilter.searchText">
          <option selected="true">간단한순으로</option>
          <option>복잡한순으로</option>
        </select>
      </label>
    </div>

    <ion-list>
      <div class="list card" ng-repeat="recipe in recipes" item="recipe" href="#/list" ng-click="sendRecipe(recipe)">

        <div class="item item-image">
          <a href="#/list" ng-click="sendRecipe(recipe)"><img src="{{recipe.img}}"></a>
        </div>

        <div class="item" ng-click="sendRecipe(recipe)" href="#/list">
          <div class="row">
            <div class="col col-80">
              <a class="item item-icon-left assertive" ng-click="sendRecipe(recipe)" href="#/list" style="margin: 0px; padding: 0px;">
              <h2>{{recipe.name}}</h2>
              </a>
            </div>
            <div class="col col-20">
              <i class="icon ion-ios-heart-outline"></i>
              {{recipe.like}}
            </div>
          </div>
        </div>
      </div>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="bar-energized">
    <div class="title">
      <a id="2" class="button button-full button-clear button-dark" nav-transition="none" ng-click="setFilter()">레시피 검색</a>
    </div>
  </ion-footer-bar>

</ion-view>